<?xml version="2.0" encoding="UTF-8"?>
<launch>

  <!-- Map Server Arguments -->
  <arg name="map_file" default="$(find monte_carlo)/maps/map2.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  
  <!-- RViz Launching -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find motion_planning)/rviz/motion_rviz.rviz"/>

  <!-- Movement Smoother -->


  <!-- Motion Planning -->
  <arg name="PATH_PARAMS" value="$(find motion_planning)/config"/>

  <arg name="odom_frame_id"   default="odom"/>
  <arg name="base_frame_id"   default="base_footprint"/>
  <arg name="global_frame_id"   default="map"/>
  <arg name="odom_topic"   default="odom"/>
  <arg name="laser_topic"   default="scan"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <rosparam file="$(arg PATH_PARAMS)/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(arg PATH_PARAMS)/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(arg PATH_PARAMS)/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(arg PATH_PARAMS)/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(arg PATH_PARAMS)/launch.yaml" command="load"/>
  </node>


  <!-- Waypoint nodes -->

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl_node">
    <rosparam file="$(find monte_carlo)/config/amcl.yaml" command="load"/>
  </node>

  <node pkg="rosservice" type="rosservice" name="global_loc" args="call --wait /global_localization"/>

</launch>
