<?xml version="1.0"?>
<launch>
  <!-- Map file path, without extensions -->
  <!-- Use $(rospack find PACKAGE) -->
  <arg name="map_file" default="PATH_TO_MAP/map" />

  <!-- Disable if running online and not from a bag -->
  <param name="use_sim_time" value="true" />


  <!-- NODES -->

  <!-- Map server provides the map as a ROS topic and service-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file).yaml" />

  <!-- EKF Localization node, needs the map file as an argument for feature extraction -->
  <node name="ekf_localization_node" pkg="ekf_localization" type="ekf_localization_node" output="screen" args="$(arg map_file).pgm">

    <!-- Most parameters are loaded from this file -->
    <rosparam file="$(find ekf_localization)/config/parameters.yaml" command="load" />

    <!-- The base frame of the robot, where odometry is applied. Usuall base_link or base_footprint -->
    <param name="base_frame_id" value="base_link"/>

    <!-- The frame of the laser scanner. Usuall scan, base_scan, laser_link, etc. -->
    <param name="laser_frame_id" value="base_scan"/>
  </node>

  <!-- Rviz visualization -->
  <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find ekf_localization)/rviz/ekf.rviz" /> -->

</launch>
